#home2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfcfcf;
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px;
    padding: 20px;
    width: 30px;
    height: 30px;
    pointer-events: auto;
    z-index: 10;
}

#about {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

.content{
    z-index: 10;
    overflow: auto;
    width: 70vw;
    margin: 0 auto;
    gap: 30px;
    pointer-events: auto;
}

#about-header{
    display: flex;
    text-align: center;
    color: #cfcfcf;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 255, 1);
    -webkit-text-shadow: 0 0 10px rgba(0, 0, 255, 1); 
    -moz-text-shadow: 0 0 10px rgba(0, 0, 255, 1);
    font-size: 4rem;
}

.aboutGame{
    color: #cfcfcf;
    text-align: left;
    text-shadow: 0 0 10px rgba(0, 0, 255, 1);
    -webkit-text-shadow: 0 0 10px rgba(0, 0, 255, 1); 
    -moz-text-shadow: 0 0 10px rgba(0, 0, 255, 1);
    font-size: 2rem;
}

a{
    color: purple;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.point-header{
    color: #cfcfcf;
    text-align: left;
    text-shadow: 0 0 10px rgba(0, 0, 255, 1);
    -webkit-text-shadow: 0 0 10px rgba(0, 0, 255, 1); 
    -moz-text-shadow: 0 0 10px rgba(0, 0, 255, 1);
    font-size: 3rem;
    font-weight: bold;
}







.star {
    position: absolute;

    width: 0;
    height: 2px;

    background: linear-gradient(
        -45deg,
        #eef0f5,
        rgba(0, 0, 255, 0)
    );

    border-radius: 100px;

    filter: drop-shadow(0 0 6px #d7dff0);

    animation:
        tail 9000ms ease-in-out infinite,
        shooting 9000ms ease-in-out infinite;

    pointer-events: none;
}


@keyframes tail {
    0% {
        width: 0;
    }

    15% {
        width: 120px;
    }

    40% {
        width: 180px;
    }

    100% {
        width: 0;
    }
}


@keyframes shooting {
    0% {
        transform: translate(-20vw, -20vh) rotate(45deg);
    }

    100% {
        transform: translate(120vw, 120vh) rotate(45deg);
    }
}

.star:nth-child(2) {
    top: 5%;
    left: 5%;
    animation-delay: 0s;
}

.star:nth-child(3) {
    top: 20%;
    left: 35%;
    animation-delay: 2s;
}

.star:nth-child(4) {
    top: 10%;
    left: 70%;
    animation-delay: 4s;
}

.star:nth-child(5) {
    top: 40%;
    left: 15%;
    animation-delay: 1s;
}

.star:nth-child(6) {
    top: 50%;
    left: 50%;
    animation-delay: 5s;
}

.star:nth-child(7) {
    top: 70%;
    left: 5%;
    animation-delay: 3s;
}

.star:nth-child(8) {
    top: 60%;
    left: 65%;
    animation-delay: 6s;
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}